@use "../Abstract/extension";
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/variables" as var;


.header {
  $root: &;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: func.rem(24) func.rem(24) 0 ;
  position: absolute;
  width: 100%;

  &__logo-link {
    display: inline-block;
  }

  &__logo {
    height: func.fluid(40, 5vw, 48);
    width: func.fluid(40, 5vw, 48);
  }

  &__hamburger {
    background: none;
    height: func.rem(24);
    position: relative;
    width: func.rem(24);
    z-index: 21;

    &::before,
    &::after {
      background: no-repeat center center;
      background-size: cover;
      content: "";
      position: absolute;
      transition: opacity .45s ease;
      inset: 0;
    }

    &::before {
      background-image: url("../../../public/assets/shared/icon-close.svg");
    }

    &::after {
      background-image: url("../../../public/assets/shared/icon-hamburger.svg");
    }

    &[aria-expanded="false"] {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      
    }

    &[aria-expanded="true"] {

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }

      + #{$root}__dropdown {
        right: func.rem(-20);
        visibility: visible;
      }
    }
  }

  &__dropdown {
    background-color: rgba(255, 255, 255, .14);
    backdrop-filter: blur(func.rem(50)) brightness(115%) opacity(100%);
    inset: 0 0 auto auto;
    min-height: 100vh;
    padding: func.rem(110) 0 0 func.rem(32);
    position: fixed;
    right: func.rem(-274);
    transition: right .35s ease,
                visibility .35s ease;
    visibility: hidden;
    width: func.rem(274);
    z-index: 20;
  }

  &__link-list {
    margin-bottom: func.rem(14);
  }

  &__link {
    color: var.$white;
    display: inline-block;
    font-size: func.rem(16);
    letter-spacing: 4px;
    padding: 0 0 func.rem(18) func.rem(30);
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &::after {
      content: "";
      background-color: var.$white;
      height: func.rem(32);
      inset: 0 func.rem(20) auto auto;
      opacity: 0;
      position: absolute;
      width: func.rem(4);
    }

    &[aria-current="page"]::after {
      opacity: 1;
    }

    &-number {
      color: var.$white;
      font-weight: 700;
      inset: 0 auto auto 0;
      position: absolute;
    }
  }

}

@media (min-width: 48em) {

  .header {
    padding: 0 0 0 func.fluid(39, 5vw, 55);

    &__hamburger {
      display: none;
    }

    &__dropdown {
      align-items: center;
      display: flex;
      gap: 0 func.rem(22);
      justify-content: space-between;
      inset: revert;
      min-height: auto;
      height: func.rem(96);
      padding: 0 func.rem(24) 0 func.fluid(48, 8.7vw, 124);
      position: relative;
      right: revert;
      visibility: visible;
      width: func.fluid(450, 59.5vw, 830);

      &::after {
        content: "";
        background-color: var.$white;
        bottom: 0;
        height: func.rem(4);
        position: absolute;
        transition: left .5s ease,
                    width .5s ease;
        width: 0;
      }

      &[data-currentpage="home"] {

        &::after {
          left: min(8.7vw, func.rem(124));
          width: func.rem(42);
        } 
      }

      &[data-currentpage="destination"] {

        &::after {
        left: calc( func.rem(42.3) + func.navlink(292.55, 2) );
        width: func.rem(105);
        }
      }

      &[data-currentpage="crew"] {
        
        &::after {
          left: calc( func.rem(147.3) + func.navlink(292.55, 3) );
          width: func.rem(43.19);
        }
      }

      &[data-currentpage="technology"] {
        
        &::after {
          left: calc( func.rem(190.49) + func.navlink(292.55, 4) );
          width: func.rem(102.06);
        }
      }
    }

    &__link-list {
      margin-bottom: 0;
    }

    &__link {
      font-size: func.fluid(14, 1.7vw, 16);
      padding: 0;

      &-number,
      &::after {
        display: none;
      }
    }
  }
}

@media (min-width: 62.5em) {

  .header {
    max-width: func.rem(1600);
    left: 50%;
    padding-top: func.fluid(0, 3vw, 40);
    transform: translateX(-50%);

    &__dropdown {
      padding-right: func.fluid(0, 8.7vw, 124);

      &[data-currentpage="home"] {

        &::after {
          width: func.rem(76.06);
        }
      }

      &[data-currentpage="destination"] {

        &::after {
          left: calc( func.rem(76.06) + func.navlinkDesktop(436.78, 2) );
          width: func.rem(143.72);
        }
      }

      &[data-currentpage="crew"] {

        &::after {
          left: calc( func.rem(219.78) + func.navlinkDesktop(436.78, 3) );
          width: func.rem(76.06);
        }
      }

      &[data-currentpage="technology"] {

        &::after {
          left: calc( func.rem(295.84) + func.navlinkDesktop(436.78, 4) );
          width: func.rem(140.94);
        }
      }

      &::before {
        content: "";
        background-color: rgba(255, 255, 255, .25);
        height: 1px;
        left: func.rem(30);
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        width: func.fluid(200, 35vw, 474);
      }
    }

    &__link {
      padding-left: func.rem(30);
      position: relative;

      &-number {
        display: inline-block;
      }

      &::before {
        content: "";
        background-color: rgba(255, 255, 255, .5);
        bottom: func.rem(-38);
        height: 3px;
        left: 0;
        position: absolute;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .35s ease;
        width: 100%;
      }

      &:hover {

        &:not(&[aria-current="page"]) {
          
          &::before {
            transform: scaleX(1);
            transform-origin: left;
          }
        }  
      }

    }
  }
}