@use "../Abstract/extension";
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/variables" as var;

body {
  font-family: 'Barlow Condensed', sans-serif;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Bellefair', serif;
}

.main {
  background: no-repeat center center;
  background-size: 100% 100%;
  min-height: 100vh;

  &--theme {

    &-home {
      background-image: url("../../../public/assets/home/background-home-mobile.jpg");
    }
  }
}

a,
button {

  &:focus-visible {
    outline: 3px dashed rgb(104, 190, 205);
    outline-offset: 3px;
  }
  
}
