@use "../Abstract/extension";
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/variables" as var;


.crew {
  display: grid;
  gap: func.rem(32) 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  padding: func.fluid(32, 5vw, 64) func.rem(24) func.rem(104);

  &__image {
    height: func.fluid(222, 76vw, 572);
    margin: 0 auto;

    &-holder {
      border-bottom: 1px solid rgba(56, 59, 75);
      width: 100%;
    }
  }

  &__selections {
    display: flex;
    gap: 0 func.rem(16);
    justify-content: center;
  }

  &__selection {
    line-height: 0;

    &-button {
      background-color: rgba(255, 255, 255, .17);
      border-radius: 50%;
      min-height: func.fluid(10, 1vw, 15);
      min-width: func.fluid(10, 1vw, 15);
      padding: 0;
      transition: background-color 1s ease;

      &[data-selected="true"] {
        background-color: var.$white;
      }
    }
  }

  &__article {
    @extend %max-width-hero;
    text-align: center;

    &-wrapper {
      outline: none
    }

    &-heading {
      @extend %hero-content-heading;
    }
  }
}

@media (min-width: 48em) {

  .crew {
    gap: func.rem(40) 0;
    padding-bottom: 0;

    &__image {
      
      &-holder {
        grid-row: 3 / 4;
      }
    }

    &__selections {
      grid-row: 2 / 3;
    }

    &__article {
      grid-row: 1 / 2;
    }
  }

}

@media (min-width: 62.5em) {

  .crew {
    grid-template-columns: repeat(2, auto);
    gap: 0;
    justify-items: flex-start;
    min-height: func.rem(700);
    padding: 0 0 0;

    &__image {
      height: 100%;
      margin: 0;

      &-holder {
        border-bottom: none;
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        min-width: func.rem(400);
        width: 100%;
      }

    }

    &__selections {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__selection {

      &-button {

        &:hover {

          &:not(&[data-selected="true"]) {
            background-color: rgba(255, 255, 255, .5);
          }
        }
      }
    }

    &__article {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      max-width: func.rem(614);
      margin: func.fluid(64, 10vw, 154) 0 func.fluid(64, 10vw, 120);
      text-align: left;

      &-heading {
        align-items: flex-start;
      }
    }

  }

}