@use "../Abstract/extension";
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/variables" as var;


.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: func.fluid(112, 27vw, 202) func.fluid(24, 7vw, 48) func.fluid(48, 10vw, 131);
  text-align: center;

  &__heading {

    &--largest {
      color: var.$white;
      display: block;
      font-family: 'Bellefair', serif;
      font-size: func.fluid(80, 20vw, 150);
      letter-spacing: 0;
      margin: func.fluid(16, 3.5vw, 24) 0;
    }
  }

  &__text-content {
    max-width: func.rem(444);
    margin: 0 auto;
  }

  &__block {

    &:last-of-type {
      padding-top: func.fluid(81, 20.5vw, 156);
    }
  }

  &__explore {
    background-color: var.$white;
    border-radius: 50%;
    color: var.$dark;
    display: grid;
    font-size: func.fluid(20, 3.8vw, 32);
    font-family: 'Bellefair', serif;
    height: func.fluid(150, 32vw, 274);
    letter-spacing: 2px;
    padding: 0;
    place-content: center;
    text-transform: uppercase;
    width: func.fluid(150, 32vw, 274);
  }
}

@media (min-width: 62.5em) {

  .home {
    flex-direction: row;
    max-width: func.rem(1440);
    margin: 0 auto;
    padding: func.rem(387) func.fluid(90, 13vw, 164) func.fluid(48, 10vw, 131);
    text-align: left;

    &__block {

      &:last-of-type {
        padding-top: func.rem(108);
      }
    }

    &__explore {
      box-shadow: 
                0 0 0 0 rgba(187, 187, 187, 0.6),
                0 0 0 0 rgba(187, 187, 187, 0.6);

      &:hover {
        animation: pump-shadow 2s ease infinite;
      }
    }
  }
}

@keyframes pump-shadow {
  0% {
      transform: scale(0.95);
  }
  15% {
      transform: scale(1);
  }
  65% {
      box-shadow: 
              0 0 0 1.5rem rgba(99, 99, 99, 0),
              0 0 0 3.5rem rgba(99, 99, 99, 0);
  }
  100% {
      box-shadow:
              0 0 0 2.5rem rgba(99, 99, 99, 0),
              0 0 0 3.5rem rgba(187, 187, 187, 0);
  }
}